## Visual Studio
.vs/
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Re]leases/
x64/
x86/
[Aa]rm/
[Aa]rm64/
bld/
[Bb]in/
[Oo]bj/
[Log]/
[Logs]/

## MSBuild
*.user
*.userosscache
*.sln.docstates

## NuGet
restoreGraphic
*.nuget.props
*.nuget.targets
project.lock.json
project.assets.json
nuget.config
packages/

## Bases de Datos SQLite locales (Evitar subir DBs locales con registros de prueba)
*.db
*.db-journal
*.db-shm
*.db-wal

## Archivos de Usuario y Publicación
*.suo
*.user
*.userosscache
*.sln.docstates
*.patch
*.diff
publish/
bin/
obj/
appsettings.Development.json
